#lottery1 {
  font-weight: 900;
  border: none;
}
#lottery2 {
  font-weight: 900;
  border: none;
}
#lotteryButton {
  border: none;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
}
#lotteryClick {
  font-weight: 100;
}
#lottery1 > p {
  display: inline-block;
  border-radius: 50%;
  width: 45px;
  border: 2px black solid;
  background-color: black;
  color: white;
}
#lottery2 > p {
  display: inline-block;
  border: 2px black solid;
  width: 45px;
  border-radius: 50%;
}
